#homelink {
  position: absolute;
  
  height: 30px;
  width: 80px;
  left: 0px;
  color: #ddd;
  
}

#homelink:hover {
    background: linear-gradient(#2f1e1e , #991010);
    text-decoration: underline;

}

#pkmnlink {
  position: absolute;
  
  height: 30px;
  width: 160px;
  
  left: 80px;
    
  color: #ddd;
  
}

#pkmnlink:hover {
    background: linear-gradient(#2f1e1e , #991010);
    text-decoration: underline;

}

#dropdown {
  position: absolute;
  z-index: 9;
  
  height: 30px;
  width: 80px;
  left: 240px;
  
  overflow: hidden;
    
  color: #ddd;
  
  transition: height .5s;
  
}

#dropdown:hover {
  /* background: linear-gradient(#2f1e1e , #991010); */
  text-decoration: underline;

  height: 90px;
}

#downlink {
  position: absolute;
  
  left: 0px;
  height: 30px;
  width: 80px;

}

#menuitem1 {
  position: absolute;
  
  height: 30px;
  width: 80px;
  
  top: 30px;
  left: 0px;
  

  background: linear-gradient(#2f1e1e , #991010);

}

#menuitem1:hover {
  
  text-decoration: underline;

  height: 60px;
  background: linear-gradient(#991010 , #2f1e1e);
}

#menuitem2 {
  position: absolute;
  
  height: 30px;
  width: 80px;
  
  top: 60px;
  left: 0px;
  

  background: linear-gradient(#2f1e1e , #991010);

}

#menuitem2:hover {
  
  text-decoration: underline;

  height: 60px;
  background: linear-gradient(#991010 , #2f1e1e);
}